<article class="carditem">
  <div class="carditem__photo">
    <img src="/imagesAutos/<%=auto.id%>/<%=auto.id%>-1.webp" alt="" srcset="">
  </div>
  <div class="carditem__data">
    <div class="carditem__top">
      <p class="carditem__marca"><span><%=auto.marca%></span><span><%=auto.anio%></span></p>
      <p class="carditem__precio"><%=auto.moneda%> <%=Intl.NumberFormat('de-DE').format(auto.precio)%></p>
    </div>
    <div class="carditem__spec">
      <div class="carditem__tec">
        <p class="carditem__prop">Tipo: <span class="carditem__value"><%=auto.categoria%></span></p>
        <p class="carditem__prop">Año: <span class="carditem__value"><%=auto.anio%></span></p>
        <p class="carditem__prop">Km: <span class="carditem__value"><%=auto.km%></span></p>
        <p class="carditem__prop">Combustible: <span class="carditem__value"><%=auto.combustible%></span></p>
      </div>
      <div class="carditem__tec">
        <p class="carditem__prop">Color: <span class="carditem__value"><%=auto.color%></span></p>
        <p class="carditem__prop">Airbags: <span class="carditem__value"><%=auto.airbags%></span></p>
        <p class="carditem__prop">Transmisión: <span class="carditem__value"><%=auto.transmision%></span></p>
        <p class="carditem__prop">Puertas: <span class="carditem__value"><%=auto.puertas%></span></p>
      </div>
    </div>
    <button class="carditem__btn">Eliminar</button>
  </div>
</article>