<article class="card">
  <figure class="card__car">
    <img class="card__imgcar" src="/imagesAutos/<%=auto.id%>/<%=auto.id%>-1.webp" alt="" srcset="">
    <figcaption class="card__titulo"><span><%=auto.marca%></span><span><%=auto.anio%></span><span><%=Intl.NumberFormat('de-DE').format(auto.km)%> kms</span></figcaption>
  </figure>
  <div class="card__datacar">
    <p>Combustible: <%=auto.combustible%></p>
    <p>Color: <%=auto.color%></p>
    <p>Transmisión: <%=auto.transmision%></p>
    <p>Puertas: <%=auto.puertas%></p>
  </div>
  <p class="card__precio"><%=auto.moneda%> <%=Intl.NumberFormat('de-DE').format(auto.precio)%></p>
  <a href="/product/<%=auto.id%> " class="card__link"></a>
</article>