<!DOCTYPE html>
<html lang="es">
  
  <%-include("partials/head.ejs",{'css':['card','carrito','cardWide']})%>
  
<body>
  <%- include("partials/header",{op:0}) %>
  <main class="main">
    <section class="carrito">
      <h2>Carrito (<%=cart.length%>)</h2>
        <% let suma=0;cart.forEach(car => {(car.car.currency.symbol==="$")?factor=200:factor=1;suma+=car.car.price/factor;%>
            <%- include("partials/cardWide",{"car":car.car,"op":0}) %>
        <%});%>  
      <div class="carrito__bottom">
        <div class="carrito__total">
          <p>Articulos Seleccionados: (<%=cart.length%>)</p>
          <p>Subtotal: u$s <%=Intl.NumberFormat('de-DE').format(suma)%></p>
        </div>
        <div class="carrito__compra">
          <button class="btnNar">Finalizar Compra</button>
          <a href="/" class="btnNar btnNar--claro">Continuar Buscando</a>
        </div>
      </div>
    </section>
    <h1 class="ofertas__titulo">Publicaciones sugeridas</h1>
    <section class="ofertas">
      <%hotcars.forEach(car => {%>
        <%- include("partials/card",{car}) %>
      <%});%>
    </section>
  </main>
  <%- include("partials/footer") %>
</body>
</html>