<!DOCTYPE html>
<html lang="es">
  
  <%-include("partials/head.ejs",{'css':['card','carrito','cardWide']})%>
  
<body>
  <%- include("partials/header",{op:0}) %>
  <main class="main">
    <section class="carrito">
      <h2>Carrito (<%=carrito.length%>)</h2>
        <% let suma=0;carrito.forEach(auto => {(auto.moneda==="$")?factor=200:factor=1;suma+=auto.precio/factor;%>
            <%- include("partials/cardWide",{"product":auto,"op":0}) %>
        <%});%>  
      <div class="carrito__bottom">
        <div class="carrito__total">
          <p>Articulos Seleccionados: (<%=carrito.length%>)</p>
          <p>Subtotal: u$s <%=Intl.NumberFormat('de-DE').format(suma)%></p>
        </div>
        <div class="carrito__compra">
          <button class="btnNar">Finalizar Compra</button>
          <button class="btnNar btnNar--claro">Continuar Buscando</button>
        </div>
      </div>
    </section>
    <h1 class="ofertas__titulo">Publicaciones sugeridas</h1>
    <section class="ofertas">
      <%ofertasSugeridas.forEach(auto => {%>
        <%- include("partials/card",{"auto":auto}) %>
      <%});%>
    </section>
  </main>
  <%- include("partials/footer") %>
</body>
</html>