<div class="cardmax">
  <!-- Parte Izquierda -->
  <div class="cardmax__left">
    <!-- Foto principal y galeria -->
    <div class="cardmax__photos">
      <h1 class="cardmax__photos-titulo"><span><%=car.brand?.name%></span><span><%=car.model%></span><span><%=car.year%></span></h1>
      <!-- Imagen Principal grande -->
      <div class="cardmax__photo">
        <img id="img1" src="/products/carsImages/<%=JSON.parse(car.imgs)[0]%>" onerror="this.style.visibility='hidden'" alt="">
      </div>
      <!-- Mini fotos de galeria -->
      <div class="cardmax__gallery">
        <%JSON.parse(car.imgs).slice(1,).forEach((image,i)=>{%>
          <%if(image==='placeholder.svg'){%>
            <div class="cardmax__miniphotoEmpty">
          <%}else{%>
            <div class="cardmax__miniphoto" onclick="showMax('<%=i+2;%>');">
          <%}%>
          <img id="img<%=i+2;%>" src="/products/carsImages/<%=image;%>" onerror="this.style.visibility='hidden'" class="cardmax__minimg" alt="">
        </div>
        <%});%>
      </div>
    </div>
    <!-- Observaciones -->
    <div class="cardmax__obs">
      <h2 class="cardmax__obs-titulo">Observaciones:</h2>
      <p>
        <%=car.description%>
      </p>
    </div>
  </div>
  <!-- Parte Derecha -->
  <div class="cardmax__rigth">
    <!-- Especificaciones Datos -->
    <div class="cardmax__data">
      <!-- Precio. -->
      <div class="cardmax__precio">
        <span><%=Intl.NumberFormat('de-DE').format(car.price)%> <%=car.currency?.symbol%></span>
      </div>
      <!-- Lista de detalles Especificaciones. -->
      <div class="cardmax__spec">
          <p class="cardmax__prop"><span class="cardmax__key">Marca:</span> <span class="cardmax__value"><%=car.brand?.name%></span></p>
          <p class="cardmax__prop"><span class="cardmax__key">Modelo:</span> <span class="cardmax__value"><%=car.model%></span></p>
          <p class="cardmax__prop"><span class="cardmax__key">Condición:</span> <span class="cardmax__value"><%=car.condition?.name%></span></p>
          <p class="cardmax__prop"><span class="cardmax__key">Año:</span> <span class="cardmax__value"><%=car.year%></span></p>
          <p class="cardmax__prop"><span class="cardmax__key">Kms:</span> <span class="cardmax__value"><%=new Intl.NumberFormat('de-DE').format(car.km)%></span></p>
          <p class="cardmax__prop"><span class="cardmax__key">Motor:</span> <span class="cardmax__value"><%=car.engine%></span></p>
          <p class="cardmax__prop"><span class="cardmax__key">Combustible:</span> <span class="cardmax__value"><%=car.fuel?.name%></span></p>
          <p class="cardmax__prop"><span class="cardmax__key">Transmisión:</span> <span class="cardmax__value"><%=car.transmission?.name%></span></p>
          <p class="cardmax__prop"><span class="cardmax__key">Color:</span> <span class="cardmax__value"><%=car.color?.name%></span></p>
          <p class="cardmax__prop"><span class="cardmax__key">Puertas:</span> <span class="cardmax__value"><%=car.doors%></span></p>
          <p class="cardmax__prop"><span class="cardmax__key">Airbags:</span> <span class="cardmax__value"><%=car.airbags%></span></p>
          <p class="cardmax__prop"><span class="cardmax__key">Categoría:</span> <span class="cardmax__value"><%=car.category?.name%></span></p>
          <p class="cardmax__prop"><span class="cardmax__key">Precio:</span> <span class="cardmax__value"><%=new Intl.NumberFormat('de-DE').format(car.price)%></span></p>
          <p class="cardmax__prop"><span class="cardmax__key">Moneda:</span> <span class="cardmax__value"><%=car.currency?.name%></span></p>
      </div>
    </div>
    <!-- Botones editar resetear -->
    <div class="cardmax__compra">
      <form action="/carrito/add" method="post">
        <input type="text" style="display: none;" name="carId" value="<%= car.id %>">
        <button class="btnNar">Comprar</button>
      </form>
        <button class="btnNar btnNar--claro">Preguntar</button>
    </div>
  </div>
</div>

<!-- Scripts de javascript -->
<script>
  // Función showMax cuando se hace click en una minifoto ésta se intercambia con la principal
  var showMax= function(img) {
    let imgBig = document.getElementById('img1');
    let imgSmall = document.getElementById('img'+img);
    imgBig.style.visibility='visible';
    imgSmall.style.visibility='visible';
    [imgBig.src,imgSmall.src] = [imgSmall.src,imgBig.src];
  };
</script>