<form class="cardmax__form-producto-editor" action="/products/create/" method="post" enctype="multipart/form-data">
  <div class="cardmax">
    <!-- Parte Izquierda -->
    <div class="cardmax__left">
      <!-- Foto principal y galeria -->
      <div class="cardmax__photos">
        <h1 class="cardmax__photos-titulo"><span id="brandTitle"><%=car.brand%></span><span id="modelTitle"><%=car.model%></span><span id="yearTitle"><%=car.year%></span></h1>
        <!-- Imagen Principal grande -->
        <div class="cardmax__photo">
          <button type="button" onclick="borrar(1)" class="cardmax__lbl-img-borra">BORRAR</button>
          <label for="img1" class="cardmax__lbl-img-cambia">CAMBIAR</label>
          <input type="file" accept="image/*" name="img1" id="img1" onchange="loadImg(event,1)" style="display: none;">
          <img id="cardmax__img-1" src="/products/carsImages/<%=car.imgs[0]%>" onload="this.style.visibility='visible'" onerror="this.style.visibility='hidden'" alt="" srcset="">
        </div>
        <!-- Mini fotos de galeria -->
        <div class="cardmax__gallery">
          <% car.imgs.slice(1,).forEach((image,i)=>{%>
            <div class="cardmax__miniphoto">
              <label for="img<%=i+2%>" class="cardmax__lbl-img-cambia cardmax__lbl-img-cambia--mini">CAMBIAR</label>
              <button type="button" onclick="borrar('<%=i+2%>')" class="cardmax__lbl-img-borra cardmax__lbl-img-borra--mini">BORRAR</button>
              <input type="file" accept="image/*" name="img<%=i+2%>" id="img<%=i+2%>"  onchange="loadImg(event,'<%=i+2%>')" style="display: none;">
              <img id="cardmax__img-<%=i+2%>" src="/products/carsImages/<%=image%>" onload="this.style.visibility='visible'" onerror="this.style.visibility='hidden'" alt="" class="cardmax__minimg">
            </div>
          <% }) %> 
        </div>
      </div>
      <!-- Observaciones -->
      <div class="cardmax__obs">
        <h2 class="cardmax__obs-titulo">Observaciones:</h2>
        <p>
          <textarea placeholder="<%=car.description%>" name="description" class="cardmax__txta" rows="15" cols="60" maxlength="770" ></textarea>
        </p>
      </div>
    </div>
    <!-- Parte Derecha -->
    <div class="cardmax__rigth">
      <!-- Especificaciones Datos -->
      <div class="cardmax__data">
        <!-- Precio. -->
        <div class="cardmax__precio">
          <span id="priceTitle"><%=Intl.NumberFormat('de-DE').format(car.price)%></span> <span id="currencyTitle"><%=car.currency%></span>
        </div>
        <!-- Lista de detalles Especificaciones. -->
        <div class="cardmax__spec">
            <p class="cardmax__prop">
              <label for="brand" class="cardmax__key">Marca:</label>
              <select name="brand" id="brand" class="cardmax__value" onchange="changeTitle(this)">
                <%brands.forEach(brand=>{%> 
                  <option value="<%=brand.id%>" <%=brand.id===car.brand?.id?"selected":""%> ><%=brand.name%></option>
                <%})%>
              </select>
            </p>
            <p class="cardmax__prop">
              <label for="modelo" class="cardmax__key">Modelo:</label> 
              <input type="text" placeholder="<%=car.model%>" onchange="changeTitle(this)" class="cardmax__value" id="model" name="model" required
              minlength="3" maxlength="20">
            </p>
            <p class="cardmax__prop">
              <label for="condition" class="cardmax__key">Condición:</label>
              <select name="condition" id="condition" class="cardmax__value">
                <% conditions.forEach(condition=>{%> 
                  <option value="<%=condition.id%>" <%=condition.id===car.condition?.id?"selected":""%> ><%=condition.name%></option>
                <%})%>
              </select>
            </p>
            <p class="cardmax__prop">
              <label for="year" class="cardmax__key">Año:</label> 
              <input type="number" placeholder="<%=car.year%>" onchange="changeTitle(this)" class="cardmax__value" id="year" name="year" required
              min="1900" max="2023">
            </p>
            <p class="cardmax__prop">
              <label for="km" class="cardmax__key">Km:</label>
              <input type="text" placeholder="<%=car.km%>" class="cardmax__value" id="km" name="km" required
              minlength="1" maxlength="20">
            </p>
            <p class="cardmax__prop">
              <label for="engine" class="cardmax__key">Motor:</label>
              <input type="text" placeholder="<%=car.engine%>" class="cardmax__value" id="engine" name="engine" required
              minlength="1" maxlength="4">
            </p>
            <p class="cardmax__prop">
              <label for="fuel" class="cardmax__key">Combustible:</label>
              <select name="fuel" id="fuel" class="cardmax__value">
                <% fuel.forEach(fuel=>{%> 
                  <option value="<%=fuel.id%>" <%=fuel.id===car.fuel?.id?"selected":""%> ><%=fuel.name%></option>
                <%})%>
              </select>
            </p>
            <p class="cardmax__prop">
              <label for="transmission" class="cardmax__key">Transmisión:</label>
              <select name="transmission" id="transmission" class="cardmax__value">
                <% transmissions.forEach(transmission=>{%> 
                  <option value="<%=transmission.id%>" <%=transmission.id===car.transmission?.id?"selected":""%> ><%=transmission.name%></option>
                <%})%>
              </select>
            </p>
            <p class="cardmax__prop">
              <label for="color" class="cardmax__key">Color:</label>
              <select name="color" id="color" class="cardmax__value">
                <%colors.forEach(color=>{%> 
                  <option value="<%=color.id%>" <%=color.id===car.color?.id?"selected":""%> ><%=color.name%></option>
                <%})%>
              </select> 
            </p>
            <p class="cardmax__prop">
              <label for="doors" class="cardmax__key">Puertas:</label>
              <input type="text" placeholder="<%=car.doors%>" class="cardmax__value" id="doors" name="doors" required
              minlength="1" maxlength="1">
            </p>
            <p class="cardmax__prop">
              <label for="airbags" class="cardmax__key">Airbags:</label>
              <input type="text" placeholder="<%=car.airbags%>" class="cardmax__value" id="airbags" name="airbags" required
              minlength="1" maxlength="1">
            </p>
            <p class="cardmax__prop">
              <label for="category" class="cardmax__key">Categoria:</label>
              <select name="category" id="category" class="cardmax__value">
                <% categories.forEach(cat=>{%> 
                  <option value="<%=cat.id%>" <%=cat.id===car.category?.id?"selected":""%> ><%=cat.name%></option>
                <%})%>
              </select>
            </p>
            <p class="cardmax__prop">
              <label for="price" class="cardmax__key">Precio:</label> 
              <input type="text" placeholder="<%=car.price%>" onchange="changeTitle(this)" class="cardmax__value" id="price" name="price" required
              minlength="3" maxlength="20">
            </p>
            <p class="cardmax__prop">
              <label for="currency" class="cardmax__key">Moneda:</label>
              <select name="currency" id="currency" class="cardmax__value" onchange="changeTitle(this)">
                <%currencies.forEach(cur=>{%> 
                  <option value="<%=cur.id%>" <%=cur.id===car.currency?.id?"selected":""%>><%=cur.name%> - <%=cur.symbol%></option>
                <%})%>
              </select>
            </p>
        </div>
      </div>
      <!-- Botones editar resetear -->
      <div class="cardmax__actualizar">
        <button type="submit" class="btnNar">Crear</button>
        <a href="/products/create " class="btnNar btnNar--claro">resetear</a>
      </div>
    </div>
  </div>
</form>

<!-- Scripts de javascript -->
<script>
  // Función loadImg cuando carga imagen nueva la sube a su div.y saca placeholder.
  var loadImg = function(event,img) {
    var imageSec = document.getElementById('cardmax__img-'+img);
    imageSec.src = URL.createObjectURL(event.target.files[0]);
  };
  // Función borrar. Cambia foto del src del div y pone la del placeholder, luego pone a null el value del input.
  var borrar = function(img) {
    var imageSec = document.getElementById('cardmax__img-'+img);
    imageSec.src = "/products/carsImages/placeholder.svg";
    var inputSec = document.getElementById('img'+img);
    inputSec.value=null;
  };
  //Actualiza valores de Precio Moneda marca modelo y año en el título.
  function changeTitle(field){
    let fieldCopy=document.getElementById(field.name+"Title");
    if(field.name==="brand"||field.name==="currency"){
      let fieldTitle = field.options[field.selectedIndex].text;
      if(field.name==="currency"){
        fieldCopy.innerText = fieldTitle.split('-')[1];
      }else{
        fieldCopy.innerText=fieldTitle;
      };
    }else{
      let fieldTitle=field.value||field.placeholder;
      if(field.name==="price"){
        fieldCopy.innerText =Intl.NumberFormat('de-DE').format(fieldTitle)
      }else{
        fieldCopy.innerText =fieldTitle;
      }
    };
    return null; 
  }
</script>