<div class="registro">
	<div class="personales">
		<p class="personales__legend">Datos Personales</p>
		
		<p class="personales__p">DNI: <span class="personales__p"> <%=locals.user?.dni??""%></span></p>
		<p class="personales__p">Nacimiento: <span class="personales__p"> <%=locals.user?.birth??""%></span></p>
		<p class="personales__p">Provincia: <span class="personales__p"><%=locals.user?.stateName??""%></span></p>
		<p class="personales__p">Localidad: <span class="personales__p"><%=locals.user?.location?.name??""%></span></p>
		<p class="personales__p">Domicilio: <span class="personales__p"><%=locals.user?.address??""%></span></p>
		<p class="personales__p">Telefono: <span class="personales__p"><%=locals.user?.phone??""%></span></p>
	</div>
	<div class="usuario">
		<p class="usuario__legend"><%=locals.user?.name??""%> <%=locals.user?.surname??""%></p>
		<p class="personales__p">email: <span class="personales__p"><%=locals.user?.email??""%></span></p>
		<div class="personales__photo">
			<img id="personales__img" src="/users/images/<%=locals.user.img??"userPlaceholder.png"%>">
		</div>
		<div class="registro__btn">
			<a href="/user/edit/<%=user.id%>">
				<button type="submit" class="registro__btnEnviar btnNar">Editar</button>
			</a>
			<button type="reset" class="registro__btnBorrar btnNar btnNar--claro" onclick='borraspan()' >Darme de baja</button>
		</div>
	</div>
</div>