<article class="cardwide">
  <div class="cardwide__photo">
    <img src="/users/images/<%=user.img??"userPlaceholder.png"%>" alt="" srcset="">
  </div>
  <div class="cardwide__data">
    <div class="cardwide__top">
      <p class="cardwide__marca"><span><%=user.name%></span><span><%=user.surname%></span></p>
      <p class="cardwide__precio"><%=user.email%></p>
    </div>
    <div class="cardwide__spec">
      <div class="cardwide__tec">
        <p class="cardwide__prop">DNI: <span class="cardwide__value"><%=Intl.NumberFormat('de-DE').format(user.dni)%></span></p>
        <p class="cardwide__prop">Cumpleaños: <span class="cardwide__value"><%=user.birth%></span></p>
        <div class="userCard__address">Domicilio: 
          <p><%=user.address%></p>
        </div>
      </div>
      <div class="cardwide__tec">
        <p class="cardwide__prop">Teléfono: <span class="cardwide__value"><%=user.phone%></span></p>
        <p class="cardwide__prop">Provincia: <span class="cardwide__value"><%=user.location.state.name%></span></p>
        <p class="cardwide__prop">Localidad: <span class="cardwide__value"><%=user.location.name%></span></p>
        <p class="cardwide__prop">Tipo: <span class="cardwide__value"><%=user.userType.name%></span></p>
      </div>
      </div>
      <div class="cardwide__btns">
        <a href="/user/edit/<%=user.id%>" class="cardwide__btn cardwide__btn-editar cardwide__btn--claro">Editar</a>
        <form action="/user/delete/<%=user.id%>?_method=DELETE" method="POST">
          <button type="submit" class="cardwide__btn">Eliminar</button>
        </form>
      </div>
  </div>
</article>